.header{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-header{
    position: absolute;
    z-index: 20;
    color: #fff;
}

.header p{
    position: absolute;
    z-index: 20;
    color: #fff;
    margin-top: 100px;
}
.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}